@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: Arial, sans-serif;
	font-size: 1.6rem;
	background: linear-gradient(
		135deg,
		#034686 0%,
		#034686 50%,
		#034382 50%,
		#034382 100%
	);
	color: #ccc;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	user-select: none;
}
